@import "core/typography.scss";
@import "core/utility.scss";
@import "core/scaffold.scss";

:root {
  font-family: Raleway, system-ui, sans-serif;
  --slide-bg: white;
  --sliding-duration: 200ms;
  --fragment-duration: 100ms;
  --brand-color: #f60;
}

.our-header {
  border-left: var(--brand-color) solid 0.15em;
  padding: 0.5em;
  margin: 0 0 0.5em;
}

.columns {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(5em, 1fr));
  grid-gap: 1em;
  align-items: center;
}

.cover {
  --slide-bg: var(--brand-color);
  background: var(--slide-bg) no-repeat center/133vmin
    url("../img/logo-antreem-contour.svg");
  color: white;
  text-align: center;

  small {
    display: block;
  }

  .uff-logo {
    height: 2em;
    display: block;
  }

  .logo {
    background: white;
    padding: 0.2em;
    border-radius: 0.5em;
    height: 5em;
  }

  &-devcast {
    --slide-bg: #057f36;
    color: white;
    text-align: center;

    img {
      z-index: -1;
    }

    h3 {
      font-weight: normal;
      font-style: italic;
      margin-block-end: 0.5em;
    }
    h4 {
      margin: 0;
    }
    small {
      font-weight: normal;
      display: block;
    }
    a {
      color: inherit;
    }
  }
}

.links {
  font-size: 70%;
  align-self: center;

  li {
    margin-top: 0.5em;
  }
  a {
    display: block;
    width: fit-content;
    padding-left: 1.75em;
  }
}

.antreem-logo {
  position: absolute;
  height: 12em;
  right: 0;
  bottom: -4em;
}
.my-data {
  > h2 {
    margin-bottom: 0;
  }
  a {
    color: var(--brand-color);
  }
}
.my-face {
  border: 0.1em solid var(--brand-color);
  border-radius: 50%;
  height: 6em;
  float: left;
  margin: 0 1em;
}
.my-info {
  width: 8em;
  text-align: center;
  margin: 2em 2em 0;
  img {
    height: 1em;
    vertical-align: middle;
  }
}
.final-link {
  a {
    color: var(--brand-color);
  }
  img {
    display: block;
    margin: 1em auto 0;
    height: 7em;
  }
}

.shadow {
  box-shadow: 0 0 0.5em rgba(black, 0.5);
}


.slide-teal {
  --slide-bg: teal;
}

.jsdoc {
  position: absolute;
  color: white;
  top: 7em;
  left: 15em;
  white-space: nowrap;
  font-weight: bold;
  transform: rotate(30deg);

  img {
    height: 1.5em;
    vertical-align: -.15em;
  }
}
.tslogo {
  position: absolute;
  top: .5em;
  left: 10em;

  img {
    height: 1.5em;
    background-color: white;
    transform: rotate(15deg);
  }
}

.threedi-spin {
  animation: threedi-spin linear 2s infinite alternate;
  display: inline-block
}

@keyframes threedi-spin {
  from {
    transform: scale(1, 1) rotate3d(1, 0, 0, 0) rotate3d(0, 1, 0, 0) rotate3d(0, 0, 1, 0);
  }
  to {
    transform: scale(1.5, -1.5) rotate3d(1, 0, 0, 30deg) rotate3d(0, 1, 0, 45deg) rotate3d(0, 0, 1, 90deg);
  }
}
